@model SaveFood.Models.Resturant
@using SaveFood.Models;

<h1>Create Resturant</h1>
<form  method="post">

    <input asp-for="Name" />
    <select asp-for="CusineType"
            asp-items="@Html.GetEnumSelectList<CusineType>()"></select>
    <input type="submit" name="save" value="Save" />
</form>