@model IEnumerable<SaveFood.Models.Resturant>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>All Resturant</title>
</head>
<body>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><a asp-action="details" asp-route-id="@item.Id" >More</a></td>
            </tr>
        }
    </table>
    <a asp-action="Create">Create Resturant</a>
</body>
</html>

